<form id="CustomLightData" name="CustomLightData" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="flexcol flex0">
        <fieldset class="submenuFieldset">
            <legend>{{this.sData.title}}</legend>
            {{#expandObject this.LightDataObject}}{{/expandObject}}
            </fieldset>
        </p>
    </div>

    <div class='flexrow'>    
        <button class='reset' type="reset" data-action="reset"><i class="fas fa-trash-restore"></i>Reset</button>
        <button class='submit' type="submit" data-action="submit"><i class="fas fa-check"></i>Submit</button>
    </div>
</form>
