<form id="CustomLightData" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group rootValue">
        LightData Values
        <p>
            {{#each this.LightDataObject as |value key|}}
                {{#if value }}
                    {{key}} <input name="{{key}}" type=text value="{{value}}">
                {{/if}}
            {{/each}}
        </p>
    </div>
    <div class="form-group nestedValue">
        Animation Values
        <p>
            {{#each this.LightDataObject.animation as |value key|}}
                {{key}} <input name="{{key}}" type=text value="{{value}}">
            {{/each}}
    </p>
    </div>
    <div class="form-group nestedValue">
        Darkness Values
        <p>
            {{#each this.LightDataObject.darkness as |value key|}}
                {{key}} <input name="{{key}}" type=text value="{{value}}">
            {{/each}}
        </p>
    </div>
    

    <div class='flexrow'>    
        <button class='reset' type="reset"><i class="fas fa-trash-restore"></i>Reset</button>
        <button class='submit' type="submit"><i class="fas fa-check"></i>Submit</button>
    </div>
</form>
